

body {


}


.post-page {


}

.container {
    background-color: yellow;
    border: 1px solid black;
    border-radius: 5px;
    height: 200px;
    width: 800px;


    box-sizing: border-box;
    margin: 10px;
    padding: 10px;


    font-family: sans-serif;
    font-size: large;
    color: mediumblue;



}

.container-coments {
    background-color: aqua;
    border: 1px solid black;
    border-radius: 5px;
    width: 800px;

    box-sizing: border-box;
    margin: 10px;
    padding: 10px;


    font-family: sans-serif;
    font-size: large;
    color: mediumblue;

}

.short-info-coments {
    background-color: cornflowerblue;
    border: 1px solid black;
}
