

body {

}
.wrap {
    display: flex;
    justify-content: center;
}

.title-wrap {
    display: flex;
    justify-content: center;
}



.title {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 30px;
    color: mediumblue;

}


.container {

    display: block;

    background-color: yellow;
    width: 1010px;

    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;

    font-family: sans-serif;
    font-size: large;
    color: mediumblue;


}

.container:hover {
    background-color: #00d9ff;
    color: black;
}


.button {
    display: flex;
    justify-content: center;
    background-color: #00d9ff;
    height: 50px;
    width: 90%;
    margin: 10px;

    text-align: center;
    font-family: sans-serif;
    font-size: large;

    border-radius: 5px;
}

.button:hover {
    background-color: orange;
    font-size: larger;
    color: white;
}




/* father container title */
.container-title {


    box-sizing: border-box;

    margin: 10px;
    width: 1010px;

    display: flex;
    flex-wrap: wrap;
}




.short-info-post {
    height: 100px;
    width: 200px;
    background-color: orange;
    border: 1px solid black;
    border-radius: 5px;

    text-align: justify;

    box-sizing: border-box;
    padding: 5px;

    margin-top: calc(1% - 3px);

    margin-right: calc(5% - 50px);
    margin-left: calc(5% - 50px);

    font-family: sans-serif;
    color: darkblue;

}

.short-info-post a {
    width: 160px;
    background-color: #00d9ff;
    border: 1px solid black;
    border-radius: 2px;
    display: block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.short-info-post a:hover {
    background-color: yellow;
    color: black;
}